{% extends 'kino/base.html' %}
{% load static %}
{% block body %}


{% block content %}
  <h2>Rejestracja</h2>
  <form method="post">
    <div id="addCom">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div id="comment"><label>{{field.label}}</label><br>
          {{ field }}
          {{ field.errors }}
          </div>
        {% endfor %}
        <div id="comment"><input type="submit" value="Zarejestruj"</div>
      </form>
      </div></div>
  </form>
{% endblock %}

{% endblock %}